<div class="container">
<h1>Listado de videos</h1>
  <div class="row">
  <% @pins.each do |pin| %>
    <div class="col-md-4">
      <div class=" thumbnail">
        <div class="videoWrapper"><%= tag(pin.video) %></div>
        <div><%= image_tag(pin.foto) %></div>
        <div><%= pin.ramo %></div>
        <div><%= pin.semestre %></div>
        <div><%= pin.fecha %></div>
        <div><%= pin.profesor %></div>
        <div><%= pin.carrera %></div>
        <div><%= pin.tiempo %></div>
        <div><%= link_to 'Show', pin %></div>
        <div><%= link_to 'Edit', edit_pin_path(pin) %></div>
        <div><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<!--
<%= link_to 'New Pin', new_pin_path %>
-->