<div class="top">
  <h1>Macroeconomía</h1>  
</div>
<div class="container">
  <h1>Listado de videos</h1>
</div>
<div class="container">
  <div class="row">
<% @pins.each do |pin| %>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class=" thumbnail row">
        <div class="poster col-md-3">
          <%= link_to image_tag(pin.foto, :class => 'img-responsive'), pin %>
        </div>
        
        <div class="description  col-md-6">
          <div><h2><%= pin.ramo %></h2></div>

          <p> 
            <span class="sub-description"><strong>Semestre:</strong> <%= pin.semestre %></span>
            <span class="sub-description"><strong>Fecha:</strong> <%= pin.fecha%></span>
          </p>
          <p>
            <span class="sub-description"><strong>Profesor:</strong> <%= pin.profesor %></span>
            <span class="sub-description"><strong>Carrera:</strong> <%= pin.carrera %></span>
          </p>
          <p>
            <span class="sub-description"><strong>Duración:</strong> <%= pin.tiempo %> min.</span>
          </p>
        </div>
      </div>
    </div>
<% end %>
  </div>
</div>