<h2>  <%= @pin.ramo %></h2>
<div class="videoWrapper">
  <%= tag(@pin.video) %>
</div>
<!--
<p>
  <strong>Video:</strong>
  <%= tag(@pin.video) %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag(@pin.foto) %>
</p>

<p>
  <strong>Ramo:</strong>
  <%= @pin.ramo %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @pin.semestre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pin.fecha %>
</p>

<p>
  <strong>Profesor:</strong>
  <%= @pin.profesor %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @pin.carrera %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @pin.tiempo %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
-->