<div class="container">
	<div class="well">
		<h3>Para ver los videos debes estar registrado, <%= link_to "pincha aquí", new_registration_path(resource_name) %></h3>
	</div>
<div class="form-group log">
<h2>Hora de estudiar?</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :class => 'form-control' %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :class => 'form-control' %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Ingresar", :class => 'btn btn-default pull-left' %></div>
<br>
<% end %>
<hr>

<%= render "devise/shared/links" %>
</div>
</div>