<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1' name='viewport'>

  <title>Clases USS</title>

  <link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/social-circle/512/social_4-16.png" type="image/png" />
  
  <meta property='og:locale' content='es_LA'>
  <meta property="og:title" content="Clases USS" />
  <meta property="og:url" content="http://clasesuss.herokuapp.com"/>
  <meta property="og:image" content="http://oi61.tinypic.com/2vws2rl.jpg" />
  <meta property='og:site_name' content='Clases USS' >
  <meta property='og:type' content='website'>
  <meta name='author'content='plus.google.com/113558121163013968974?rel=author'>
  <meta name='description' content='Revive tus clases y sube tus notas estudia donde estés.'>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= render 'shared/ga' %>

  <%= csrf_meta_tags %>

  <body>
    <%= render 'shared/navbar' %>
    <div style="display:none;">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
    
    <%= render 'shared/uservoice' %>
  </body>
  </html>
